body {
	background-color: #000000;
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
  font-size: 15px;
	line-height: 140%;
}

#wrapperfront{
	width:620px;
	padding-top:150px;
	margin: 0 auto;
}

.leftcolumn{
	width:216px;
	height: 481px;
	padding-top: 9px;
	vertical-align: bottom;
	float:left
}

.rightcolumn{
	width:404px;
	float:right
}

.uppercase {
	text-transform: uppercase;
	letter-spacing: 1px;
}

.font14px {
	font-size: 0.9333rem;
	line-height: 140%;
}

.font12px {
	font-size: 0.8rem;
	line-height: 140%;
}

.font9px {
	font-size: 0.6rem;
	line-height: 140%;
}

.centretext {
	text-align: center;
}

.biglogo{
	width:404px;
	float:right;
	margin-bottom:25px;
}

.tagline {
	margin-bottom:25px;
}

#hoursandaddress{
	width:404px;
	margin-bottom:20px;
	float: right;
	clear: both;
	/*vertical-align: middle;*/
}

ul#hoursandaddress li {
	display:inline;
	width: 202px;
	height: 96px;
	padding: 8px 0px;
}

ul#hoursandaddress li:nth-child(2) {
	padding: 17px 0px;
}

li {
    float: left;
	}

#contactmain {
	width:404px;
	float: right;
	clear:both;
	margin-bottom:16px;
}

ul#contactmain li{
	display: inline;
	width: 134.667px;
	/*height: 36px;*/
	padding: 8px 0px;
}

ul#contactmain li:nth-child(2) {
	padding: 8px 0 5px 0;
}

footer{
	height:10px;
	clear: both;
	/*float:left;*/
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
	color:#FFFFFF;
}

.border {
	border: 1px solid #FFFFFF;
}

h1 {
	font-family: 'Cardo', serif;
	 font-size:22px;
	 font-weight: 400;
	 font-style: italic;
	 letter-spacing: 1px;
	 }



/***************************
max-width:660px
***************************/

@media only screen and (max-width:660px){

	#wrapperfront{
		width:420px;
		padding-top:50px;
		margin: 0 auto;
	}

	.leftcolumn{
		display: none;
		clear: both;
	}

	.rightcolumn{
		width:404px;
		margin: 0 auto;
		float:none;
	}

}


/***************************
min-width:620px - to hide mobile elements
***************************/

@media only screen and (min-width:620px){
  ul#hoursandaddressmob li {
  	display: none;
  }
}


/***************************
max-width:620px
***************************/

@media only screen and (max-width:620px){

	ul#hoursandaddress li {
  	display: none;
  }

	ul#hoursandaddressmob li {
  	display: block;
		width: 404px;
		padding: 16px 0;
  }

	ul#hoursandaddressmob li {
		display: block;
		width: 404px;
		padding: 16px 0;
	}

	ul#contactmain li{
		display: block;
		vertical-align: text-top;
		width: 404px;
		padding: 20px 0;
	}
}

	/*ul#hoursandaddress li {
		display:block;
		height: 100px;
		width: 404px;
		vertical-align: top;
	}

	ul#hoursandaddress li:nth-child(2) {
		height: 100px;
		vertical-align: top;
	}*/

	/*li {
	    float: right;
		}*/

}
