body {
	background-color: #000000;
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
  font-size: 16px;
	line-height: 135%;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
	padding: 5px 1% 10px 1%;
	margin: 0 auto;
}

.biglogo {
	margin-bottom: 15px;
}

.tagline {
	padding: 14px 0px;
}

.border {
	border: 1px solid #FFFFFF;
}

.bordertop {
	border-top: 1px solid #FFFFFF;
}

.borderbottom {
	border-bottom: 1px solid #FFFFFF;
}

.uppercase {
	text-transform: uppercase;
	letter-spacing: 1px;
}

.font28px {
	font-size: 1.75rem;
	line-height: 135%;
}

.font26px {
	font-size: 1.625rem;
	line-height: 135%;
}

.font24px {
	font-size: 1.5rem;
	line-height: 135%;
}

.font22px {
	font-size: 1.375rem;
	line-height: 135%;
}

.font20px {
	font-size: 1.25rem;
	line-height: 135%;
}

.font18px {
	font-size: 1.125rem;
	line-height: 135%;
}

.font15px {
	font-size: 0.9375rem;
	line-height: 135%;
}

.font14px {
	font-size: 0.875rem;
	line-height: 135%;
}

.font13px {
	font-size: 0.8125rem;
	line-height: 135%;
}

.font12px {
	font-size: 0.75rem;
	line-height: 135%;
}

.font9px {
	font-size: 0.5625rem;
	line-height: 135%;
}

.centretext {
	text-align: center;
}

.centre {
	align-items: center;
}


#hoursandaddress{
	clear: both;
}

ul#hoursandaddress li {
	width: 100%;
	display:block;
	padding: 14px 0px;
}

/*li {
    float: left;
	}*/

#contactmain {
	clear: both;
}

ul#contactmain li{
	width: 100%;
	display: block;
	padding: 14px 0px;
}

ul#contactmain img{
	width: 20%;
	display: inline;
	padding: 0px 1%;
}

footer{
	clear: both;
	margin-top: 20px;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
	color:#FFFFFF;
}

h1 {
	font-family: 'Cardo', serif;
	 font-size:1.25rem;
	 font-weight: 400;
	 font-style: italic;
	 letter-spacing: 1px;
	 }

.imfell {
	font-family: 'IM Fell DW Pica', serif;
	/*font-weight: 400;*/
	/*font-style: italic;*/
}

#facebook {
	width: 340px;
	margin: 0 auto;
	text-align: center;

}

iframe {
	width:100%;
	height:300px;
	border:none;
	overflow:hidden;
	background: #000000;
}
